<div class="container-fluid bg-inverse" style="position:relative;bottom: 0;left:0;right:0">
    <footer>
        <!-- Navbar content -->
        <div class="row">
            <div class="col">
                <hr class="jumbotron-hr">
                <p class="text-muted" style="margin-right: 5%" align="left">
                    <img src="/images/logo.png"
                         width="30"
                         height="30" class="d-inline-block align-top" alt=""
                    >
                    FP VPS 2017 | Developed and maintained by October 6 Plant, Egypt.
                </p>
            </div>
        </div>
    </footer>
</div>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/tether.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>