<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse"
     style="position: fixed;top: 0;left: 0;right: 0;z-index: 1">
    <!-- Navbar content -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/welcome">
        <img src="/images/logo.png" width="30"
             height="30" class="d-inline-block align-top" alt="P&G">
        FP VPS
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
            <li class="dropdown-divider"></li>
            <li class="nav-item">
                <a href="/cars/view" class="nav-link">Vehicles Visualization</a>
            </li>
            <li class="nav-item">
                <a href="/cars/table" class="nav-link">in Plant Vehicles Table</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="nav-item">
                <a href="/cars/stats" class="nav-link">Current Stats</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="nav-item">
                <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>